<h2>Become Part of Our Community</h2>

<p>Registration allows you to <strong>create questions</strong>, <strong>post answers</strong>, <strong>post comments</strong>, and <strong>vote</strong> on all of the above.</p>

<%= render 'form' %>

<%= link_to "Back", questions_path, class: "button" %>
