<h4>Become Part of Our Community</h4>

<p>Registration allows you to <strong>create questions</strong>, <strong>post answers</strong>, <strong>post comments</strong>, and <strong>vote</strong> on all of the above.</p>

<%= render 'form' %>
