<h2>Showing User Profile for <%= @user.username %></h2>

<h3>Questions by this User</h3>
<div class="questions">
  <% @user_questions.each do |question| %>
    <%= render partial: '/questions/question', locals: {question: question} %>
  <% end %>
</div>

<h3>Answers by this User</h3>
<div class="answers">
  <% @user_answers.each do |answer| %>
    <%= render partial: '/answers/answer', locals: {answer: answer} %>
  <% end %>
</div>

<h3>Comments by this User</h3>
<div class="comments">
  <% @user_comments.each do |comment| %>
    <%= render partial: '/comments/comment', locals: {comment: comment} %>
  <% end %>
</div>
