<div class="row">
	<div class="one column"><%= answer.votes.count %></div>
	<div class="eleven columns"><%= answer.body %> answered <%= answer.created_at %> <%= link_to answer.user.username %></div>
</div>